:root {
    --font-family: "HelveticaNeueCyr", sans-serif;
    --second-family: 'Steelfish';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    display: contents;
    color: inherit;
    text-decoration-line: inherit;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    font: 400 2.636185981vw var(--font-family), sans-serif;
    font-weight: 400;
    line-height: 2rem;
    color: #fff;
}

@media (min-width: 428px) {
    html {
        font: 400 11.2565px var(--font-family), sans-serif;
    }
}

body {
    background: #000;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 143%;
    max-width: 428px;
}

h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5.3rem;
    line-height: 87%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

section {
    padding-top: 0rem;
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.full-width {
    margin-left: -4.6rem;
    padding-left: 4.6rem;
    padding-right: 4.6rem;
    width: calc(100% + 9.2rem);
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 5.4rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(49deg, #ae62f6 0%, #bc76ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    text-align: center;
    color: #000;
    margin-top: 3rem;
}

.btn-link {
    display: inline-block;
    width: 100%;
    /* height: 9.5rem; */
    margin: 0 auto;
}

.btn {
    width: 33rem;
    height: 9rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 1rem;
    background: linear-gradient(49deg, #ae62f6 0%, #bc76ff 100%);
    stroke-width: 0.2rem;
    stroke: rgba(255, 255, 255, 0.2);
}

.btn img {
    position: absolute;
    top: 0;
    width: 100%;
}

.btn p {
    position: relative;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 111%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.btn1 {
    margin: 1rem 0 7.2rem 0;
}

.underline {
    text-decoration-line: underline !important;
    display: inline-block;
}

.bold {
    font-weight: 600;
}

.accent {
    font-weight: 700;
    color: #ae62f6;
}

#shadow-host-companion {
    padding: 0 !important;
}

.bg1 {
    background-image: url(../images/bg1.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 151.4rem;
}

.bg2 {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.fixed-btn {
    z-index: 10;
    position: fixed;
    bottom: -0.3rem;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    padding: 1rem 3.8rem 1rem 3.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: radial-gradient(55.45% 129.03% at 53.12% 21%, rgb(255, 255, 255) -600%, rgba(28, 28, 28, 1) 90%);
    max-width: 428px;
    display: none;
}

.fixed-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

.fixed-timer .timer {
    margin: 0;
}

.fixed-timer .hours,
.fixed-timer .minutes,
.fixed-timer .seconds {
    height: 3.1rem;
    width: 6rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 92%;
    text-align: center;
    color: #fff;
}

.fixed-timer p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 125%;
    color: #fff;
}


.fixed-btn .btn {
    height: 6.5rem;
    width: 30rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 138%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #8b7950;
    box-shadow: 0 0.4rem 7rem -0.5rem rgba(255, 238, 180, 0.5);
    border-radius: 0.5rem;
}



.fixed-btn .btn img {
    height: 8.5rem;
    width: 32rem;
}
    .x-center {
        position: relative;
    transform: translateX(-50%);
    left: 50%;
    }
    .for-whom {
        padding-bottom: 2rem;
        overflow: hidden;
    }

  .for-whom .c2-wrap{
    border-radius: 1.5rem;
    width: 34rem;
    height: 21rem;
    background: #1c1c1c;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 133%;
    text-align: center;
    color: #fff;
    padding: 0rem 0rem 3rem 0rem;
    margin-bottom: 6rem;
  }
  .for-whom .c2-wrap img{
    width: 24rem;
    position: relative;
    margin-top: -2.5rem;
  }
  .for-whom .c2-wrap p{
    padding-top: 2rem;
  }
 .author .mob {
    margin: 0 -20px;
    width: calc(100% + 40px);
 }
 .about-author{
    display: flex;
    padding: 0rem 0rem 0rem 5.4rem;
    flex-direction:column ;
    gap: 2.5rem;
    margin-top: -55rem;
    margin-bottom: 12rem;
 }
 .about-author-div{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
 }
 .about-author-div p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 137%;
color: #fff;
 }
 .about-author-div img{
    width: 2.5rem;
    height: 2.5rem;
 }
 .about-author ul{
    list-style-type: disc !important;
    padding-left: 6rem;
    width: 27rem;
 }
 .about-author li{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 137%;
    color: #fff;
 }
 .how-to-study {
    padding-top: 1.5rem;
    padding-bottom: 8rem;
}

.program-title{
    width: 21rem;
    transform: translateX(-43%);
    margin-bottom: 2rem;
}
.program-wrap{
    border-radius: 1.5rem;
    width: 34rem;
    height: fit-content;
    background: #1c1c1c;
    padding: 3.3rem 2.1rem 3.3rem 2.1rem;
    background-image: url(../images/07.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 2rem;
}
.program-wrap:nth-child(1){
background-image: url(../images/02.png);
}
.program-wrap:nth-child(2){
background-image: url(../images/01.png);
}
.program-wrap:nth-child(3){
background-image: url(../images/02.png);
}
.program-wrap:nth-child(4){
background-image: url(../images/03.png);
}
.program-wrap:nth-child(5){
background-image: url(../images/04.png);

}
.program-wrap:nth-child(6){
background-image: url(../images/05.png);
}
.program-wrap:nth-child(7){
background-image: url(../images/06.png);
}

.program-top{
    font-family: var(--font-family);
font-weight: 700;
font-size: 1.6rem;
line-height: 111%;
color: #fff;
}
.program-wrap li{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 129%;
    color: #fff;
}
.program-wrap ul{
    list-style-type: disc;
    padding-left: 1.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.program-bonus{
    padding: 2rem 16.9rem 3.1rem 2.4rem;
    border-radius: 1.5rem;
    width: 34rem;
    height: 15rem;
    background-image: url(../images/bonus-1.png);
    background-size: cover;
    margin-bottom: 2rem;
}
.program-bonus:nth-child(10){
    background-image: url(../images/bonus-2.png);
}
.bonus-title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 5rem;
    line-height: 130%;
    text-transform: uppercase;
    color: #4d4837;
    margin-bottom: 1rem;
}
.bonus-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 143%;
color: #4d4837;
}
.how-to-study-bg{
    background-image: url(../images/how-to-study-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 17rem;
}
.how-to-study-wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    margin-top: 26rem;
    margin-bottom: 10rem;
}
.how-to-study-div{
    display: flex;
    gap: 1.8rem;
    align-items: flex-start;
}
.how-to-study-div img{
    width: 5rem;
    height: 5rem;
}
.how-to-study-div p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 143%;
    color: #fff;
}
.title-img{
    width: 30rem;

}
.what-get{
    margin-top: 17rem;
    background-image: url(../images/what-get-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
}
.what-get-wrap{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 8rem;
}
.what-get-div{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2.4rem;
}
.what-get-div p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 143%;
color: #fff;
}
.what-get-div img{
    width: 5rem;
    height: 5rem;
}

.join{
    border: 1px solid #ffefd3;
    border-radius: 4rem;
    width: 100%;
    height: 52rem;
    padding-top: 3rem;
}
.join-price-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.join-new{
    width: 18.6rem;
    height: 7.6rem;
    background: linear-gradient(180deg, #FFF2AF 0%, #DCC290 100%);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join-new p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 133%;
    text-align: center;
    color: #574523;
}
.join-new span{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 4rem;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #574523;
    margin-top: -0.7rem;
}
.join-old{
    width: 13.4rem;
    height: 5.7rem;
    background-image: url(../images/join-rect.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}
.join-old span{
    font-family: var(--second-family);
font-weight: 700;
font-size: 3.5rem;
line-height: 125%;
text-transform: uppercase;
text-align: center;
color: #717171;
}
.join-old span:before {
    content: "";
    display: block;
    border: 0.2px solid #717171;;
    width: 7.6rem;
    height: 0rem;
    position: absolute;
    margin-top: 2.6rem;
}
#hours,
#minutes,
#seconds{
    border-radius: 1.5rem;
    width: 10rem;
    height: 10rem;
    background: #1c1c1c;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 40%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-name{
    display: flex;
    justify-content: space-between;
    margin-top: -4.5rem;
}
.timer-name p{
    width: 10rem;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.2rem;
line-height: 154%;
text-align: center;
color: #717171;
}
.join-ps{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.2rem;
line-height: 143%;
text-align: center;
color: #727272;
margin-top: 4rem;
}
.guarantee{
    margin-top: 8rem;
}
.guarantee-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 133%;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
}
.dont {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.logoWrap {
    margin-bottom: 30px;
}
.logoWrap .logo {
    width: 154px;
}
.why {
    margin-top: 4rem;
}


.slider-item {
    width: 100%;
}
